In [1]:
1+3

4

python

### example

In [4]:

print("mohan")

mohan

In [6]:
# case insensitive
name="mohan"
Nmae="sahu"
print(name)
print(Nmae)

mohan
sahu

In [11]:
# indentation
age=18
if age>=18:
    print("adult")
else:
    print("child")

adult

In [ ]:
# use " \" for contigious line
total =10 + 90 +90 \
+88+9999
print(total)

10277

In [17]:
# multi statement in single line
a=5;b=9;total=a+b;print(total)

14

In [ ]:
# semnatics  in python 
age=21 #run times python understand as a integer
name:"mohan" #run times python understand as a string
print(age,name)

21 mohan

In [25]:

type(name)

str

In [26]:
type(age)

int